[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
cython = "*"
pyopengl = "*"
opencv-python = "*"
matplotlib = "*"
vispy = "*"
"netcdf4" = "*"
tqdm = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
mypy = "*"
rope = "*"

[requires]
python_version = "3.6"
